@mixin displayFlex($flex-direction, $justify-content, $align-items ,$wrap) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-wrap: $wrap;
}
